:root {
    --color-1: #1f2122;
    --color-2: #27292a;
    --text-color-1: #e75e8d;
    --text-color-2: white;
    --text-color-3: #666;
}

*{
    box-sizing: border-box;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

span {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    
}

h4{
    font-size: 15px;
}

body,
body::placeholder,
.nav-link {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-3);
}

.bg-color-1 {
    background-color: var(--color-1) !important;
}

.bg-color-2 {
    background-color: var(--color-2) !important;
}

.text-color-1 {
    color: var(--text-color-1) !important;
}

.text-color-2 {
    color: var(--text-color-2) !important;
}

.text-color-3 {
    color: var(--text-color-3) !important;
}


.navbar {
    background-color: transparent;
}

.navbar-brand {
    flex-basis: 25%;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    padding: 13px 10px;
}

.nav-item .nav-link.active,
.nav-link:hover {
    color: var(--text-color-1);
}

.profile {
    background-color: #27292a;
    padding: 8px 10px 8px 20px !important;
    border-radius: 23px;
}

.profile:hover {
    color: #fff !important;
    background-color: #e75e8d !important;
}

.avatar {
    max-width: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

.search-form {
    position: relative;
}

.search-input {
    background-color: var(--color-2);
    height: 46px;
    border-radius: 23px;
    border: none;
    color: var(--text-color-3);
    font-size: 14px;
    padding: 0px 15px 0px 45px;
}

.offcanvas-header .search-input {
    background-color: var(--color-1);
}

.search-input:focus {
    background-color: var(--color-2);
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
    color: var(--text-color-3);
}

.search-icon {
    position: absolute;
    color: var(--text-color-3);
    left: 20px;
    top: 12px;
    width: 18px;
    height: 18px;
    font-size: 16px;
}

body>.container {
    margin-top: 109px;
}

.page {
    padding: 60px;
    border-radius: 23px;
}

.page * {
    border-radius: 23px;
}

.browse {
    background-image: url(../image/banner-bg.jpg);
    background-size: cover;
    min-height: 380px;
    padding: 80px 60px;
}

.browse h5{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.browse h1{
    font-size: 42px;
    margin-bottom: 25px;
}

.btn{
    background-color: var(--text-color-1) !important;
    border-color: var(--text-color-1) !important;
    padding: 12px 30px !important;
    color: white;
}

.btn-outline{
    background-color: transparent !important;
    color: var(--text-color-1);
}

.btn-outline.disabled{
    color: var(--text-color-3);
    border-color: var(--text-color-3) !important;
}

.btn:hover{
    color: var(--text-color-1) !important;
    background-color: white !important;
}

.most-popular,
.gaming-library{
    margin-top: 60px;
    padding: 30px;
}

.item{
    background-color: var(--color-2);
    padding: 30px 15px;
    margin-bottom: 30px;
    height: 90%;
}

.item h4,
.item ul{
    font-size: 15px;
    margin-top: 20px;
}

img{
    width: 100%;
}

.most-popular img{
    height: calc(100% - 56px);
    min-height: 150px;
}

.gaming-library img{
    width: 80px;
    height: 80px;
}

footer p{
    text-align: center;
    padding: 30px 0px;
    color: #fff;
    line-height: 30px;
}


@media (max-width: 992px) {
    .avatar {
        display: none !important;
    }

    .profile {
        padding: 13px 10px !important;
        background-color: var(--color-1);
        border-radius: 0;
    }
}

@media (max-width: 768px){
    .page{
        padding: 30px;
    }
}

@media (max-width: 576px) {
    .container>.search-form {
        display: none !important;
    }

}